@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&family=Audiowide&family=Finlandica&family=Luckiest+Guy&family=Pacifico&display=swap');

* {
    margin: 0;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 0 10px 0;
}

.Header {
    background-image: url('https://www.yasserprogamer.ml/assets/background.jpg');
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 80px 0 80px 0;
    backdrop-filter: blur(3px);
}

.Header h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px;
}

.Header p {
    font-family: 'Pacifico', cursive;
    padding: 12px 0 12px 0;
    font-size: 24px;
}

.Header button {
    background-color: #FFFFFF;
    margin: 30px 0 20px 0;
    padding: 10px 5px 10px 5px;
    font-size: 25px; 
    border-radius: 8px;
    outline: 0;
    width: 20%;
    text-align: center;
}

.Header button:hover {
    background-color: #000000;
    color: #FFFFFF;
    margin: 20px 0 30px 0;
}

.WhiteBody {
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 30px 0 45px 0;
    text-align: center;
}

footer {
    bottom: 0;
    display: flex;
    padding: 25px 0 35px 0;
    margin: 10px 0 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
}

footer p {
    font-family: 'Finlandica', sans-serif;
    font-size: 20px;
}

footer .SocialMedia {
    margin: 25px 0 10px 0;
    color: gray;
    font-size: 25px;
}

footer .SocialMedia i {
    padding: 0 4px 0 4px;
}

footer .SocialMedia a {
    color: gray;
}

footer .SocialMedia a:visited {
    color: gray;
}

footer .SocialMedia i:hover {
    color: white;
}

.WarningBox {
    width: 60%;
    background-color: orange;
    border-radius: 10px;
    text-align: start;
    padding: 20px 15px 20px 15px;
}

.WarningBox h1 {
    font-family: 'Audiowide', cursive;
    font-size: 50px;
    padding: 0 0 20px 0;
}

.WarningBox p {
    font-family: 'Finlandica', sans-serif;
    font-size: 20px;
}